/* 01_math_activity :: 수학 교구 공통 css */

/* 
.root::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  box-shadow: inset 0 0 0 10px rgba(255, 0, 0, 0.5);
}
*/

