/* :root { */
/* } */

html,
body {
}

body {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  /* font-family: "굴림", Gulim, arial, sans-serif; */

  /* user-select: none; */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-tap-highlight-color: rgba(0, 0, 0, 0);
  -o-tap-highlight-color: rgba(0, 0, 0, 0);

  overflow: hidden;
  touch-action: none;

  line-height: 1;
}

#wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 1280px;
  height: 720px;
  overflow: hidden;
  background-color: #fff;
}

.animate-cc {
  position: absolute;
  left: 0;
  top: 0;
}

html,
body,
#wrap {
  /* background-color: #f3f9ff !important; */
  user-select: none;
  touch-action: none;
}

/* reset */
button {
  cursor: pointer;
  border: none;
}

/* utilities
 * ========================================================================== */
.d-none,
.remove {
  display: none !important;
}
.invisible,
.hidden {
  visibility: hidden !important;
}
.hidden-all,
.hidden-all * {
  visibility: hidden !important;
  pointer-events: none !important;
}
.borrowable {
  outline: 0px solid transparent; /* 기본 아웃라인 제거(중복 표시 방지) */
}
.borrowable-highlight {
  animation: borrow-blink 1s ease-in-out 1;
}
@keyframes borrow-blink {
  0% {
    filter: brightness(1);
  }
  50% {
    filter: brightness(1.4);
  }
  100% {
    filter: brightness(1);
  }
}
.disable {
  opacity: 0.5 !important;
  pointer-events: none !important;
}
.lock {
  pointer-events: none !important;
}
.lock * {
  pointer-events: none !important;
}
.log-area {
  background-color: rgba(0, 0, 0, 0.3);
}

